.cards-overflow {
  display: flex;
  overflow-x: scroll;
  padding: 0.75rem 0;
  > .wrapper {
    flex: none;
    width: 70%;
    margin: 0 0.75rem;
    @include desktop {
        margin: 0 1%;
      width: 48%;
    }
  }
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
      display: none;
  }
}

