// Button
// $button-border-width: $control-border-width;
// $button-padding-vertical: calc(1.5em - #{$button-border-width});
$button-padding-horizontal: 1.1em;

// NavBar
$navbar-box-shadow-size: 0 0 6px 1px;
$navbar-box-shadow-color: #24242450;