.is-clipped-touch {
  @include touch {
    overflow: hidden;
  }
}

@mixin padding-sides($size) {
  padding: {
    left: $size;
    right: $size;
  }
}

.container {
  &-touch {
    @include touch {
      @include padding-sides(0.75rem);
      max-width: 736px;
      margin: {
        left: auto;
        right: auto;
      }
    }
    @include tablet-only {
      @include padding-sides(1.5rem);
    }
  }
  &-desktop {
    @include desktop {
      max-width: $desktop - $container-offset;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}
