//Prevent bleeding layout ONLY in touch resolution. Overflow hidden breaks sticky in desktop resolution
.is-clipped-touch {
  @include touch {
    overflow: hidden;
  }
}

//Add padding in touch resolution
.padding-sides {
  $padding: 0.75rem;
  &-tablet-only {
    @include tablet-only {
      padding: {
        left: $padding;
        right: $padding;
      }
    }
  }
  &-touch {
    @include touch {
      padding: {
        left: $padding;
        right: $padding;
      }
    }
  }
}

//Container element in tablet and desktop resolution
.container {
  &-tablet-only {
    @include tablet-only {
      max-width: 550px;
      margin: 0 auto;
    }
  }
  &-desktop {
    @include desktop {
      max-width: $desktop - $container-offset;
      margin: 0 auto;
    }
  }
}

//Margin with mixins
.has-padding-top-1-tablet-only {
  @include tablet-only {
    padding-top: 1rem;
  }
}

//add false-padding-right
@mixin false-padding-right($width) {
  @include touch {
    &:after {
      content: "";
      display: block;
      flex: none;
      width: $width;
      height: 1px;
    }
  }
}

//Stretched link
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}
