//fundraising page
.fr-header {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  > div {
    width: 100%;
    &.first {
      @include desktop {
        order: -1;
      }
    }
  }
}

.fr-title {
  margin: {
    top: $size-6;
    bottom: $size-6;
  }
  > h1 {
    font: {
      size: $size-4;
      weight: $weight-bold;
    }
    @include desktop {
      font: {
        size: $size-3;
      }
    }
  }
}

.fr-button {
  > * {
    font-weight: $weight-semibold;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
  @include tablet-only {
    flex-wrap: wrap;
    display: flex;
    > * {
      width: auto;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.5rem;
      }
    }
  }
}

.raised {
  padding-bottom: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  color: $grey-dark;
  font: {
    size: $size-small;
    weight: $weight-medium;
  }
  .raised-highlight {
    color: $primary;
    font: {
      size: $size-normal;
    }
  }
  > div:not(:last-child) {
    margin-right: 0.2rem;
  }
}
