//banner component
.banner {
  position: relative;
  top: 0;
  left: 0;
  @include desktop {
    border-radius: $radius-large;
    overflow: hidden;
  }
  > .layer {
    @extend .image;
    &-middle,
    &-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.fr-title {
  &-desktop {
    font-size: $size-3;
    font-weight: $weight-semibold;
    line-height: 1.25em;
    margin-top: 1.5rem;
  }
  &-touch {
    font-size: $size-4;
    font-weight: $weight-semibold;
    line-height: 1.2em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.fr-button {
  > * {
    font-weight: $weight-semibold;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
  @include tablet-only {
    flex-wrap: wrap;
    display: flex;
    > * {
      width: auto;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.5rem;
      }
    }
  }
}

.fr-raised {
  padding-bottom: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  color: $grey-dark;
  font: {
    size: $size-small;
    weight: $weight-medium;
  }
  .larger {
    color: $primary;
    font: {
      size: $size-normal;
    }
  }
  > div:not(:last-child) {
    margin-right: 0.2rem;
  }
}
