{% include "components/Nav.njk" %}

<div class="hero is-white">
    <div class="hero-body">
        <div class="container container-mobile container-tablet-only">
            <h1 class="title" style="margin-bottom:2rem">{{ title }}</h1>
            {% if excerpt %}
                <h2 class="subtitle">{{ excerpt }}</h2>
            {% endif %}
        </div>
    </div>
</div>
<hr>