<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/' | url }}">
                <img src="{{ metadata.brand_logo | url }}" alt="{{ metadata.title }}">
                <h1 style="font-weight: 900;letter-spacing: 1px;text-transform: uppercase;padding-left: 1rem;">{{ metadata.title }}</h1>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-end has-text-weight-bold">
                {% set navPages = collections.all | eleventyNavigation %}
                {% for navItem in navPages %}
                    <a class="navbar-item {% if navItem.url == page.url %}is-active{% endif %}" href="{{ navItem.url | url }}">
                        {{ navItem.title }}
                    </a>
                {% endfor %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{{ '/fundraises/' | url }}" class="button is-outlined is-dark" style="height: 2rem;">Donasi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>