{# <script src="/_includes/assets/js/vue.js"></script> #}
<script src="/_includes/assets/js/main.js"></script>

{# 
{% set js %}
{% include "assets/js/steps.min.js" %}
{% include "assets/js/app.js" %}
{% include "assets/js/inline.js" %}
{% endset %}

<script>
    {{ js | jsmin | safe }}
</script> #}