<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
{# <script src="/_includes/assets/js/buefy.min.js"></script> #}
{# <script src="/_includes/assets/js/navbar.min.js"></script> #}

{# <script src="/_includes/assets/js/vue.js"></script> #}

{% set js %}
{# {% include "assets/js/navbar.min.js" %} #}
{% include "assets/js/steps.min.js" %}
{% include "assets/js/app.js" %}
{% include "assets/js/inline.js" %}
{% endset %}

<script>
    {{ js | jsmin | safe }}
</script>