$card-height: 23rem;
$wrapper-padding: 1rem;
$wrapper-height: $card-height + (2 * $wrapper-padding);

.cards-carousel {
  position: relative;
  top: 0;
  left: 0;
  height: $wrapper-height;
  > .wrapper-abs {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    overflow-x: auto;
    padding: $wrapper-padding 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.wrapper-flex {
  display: flex;
  height: 100%;
  > .wrapper-card {
    flex: none;
    height: 100%;
    width: auto;
    padding: 0 0.7rem;
    &:first-child {
      margin-left: -0.7rem;
    }
  }
}
.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  height: 100%;
}

%scroll-button {
  text-align: center;
  position: absolute;
  top: 50%;
  background-color: white;
  border-radius: 999px;
  z-index: 99;
  height: 2rem;
  width: 2rem;
  @extend %shadow-drop;
}
#slideRight {
  @extend %scroll-button;
  right: -2px;
}
#slideLeft {
  @extend %scroll-button;
  left: -2px;
}
