//Prevent bleeding layout ONLY in touch resolution. Overflow hidden breaks sticky in desktop resolution
.is-clipped-touch {
  @include touch {
    overflow: hidden;
  }
}

//Extra container
.container {
  &-tablet-only {
    @include tablet-only {
      max-width: 800px;
      margin: 0 auto;
      padding: {
        left: 2rem;
        right: 2rem;
      }
    }
  }
  &-mobile {
    @include mobile {
      padding: {
        left: 1rem;
        right: 1rem;
      }
    }
  }
}

//Margin with mixins
.has-padding-top-1-tablet-only {
  @include tablet-only {
    padding-top: 1rem;
  }
}

//add false-padding-right
@mixin false-padding-right($width) {
  @include touch {
    &:after {
      content: "";
      display: block;
      flex: none;
      width: $width;
      height: 1px;
    }
  }
}

//Stretched link
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

/* prevent input number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// * {
//   outline: red 1px solid;
// }
