.fra-aside {
    padding-bottom: 0.5rem;
    color: $grey-dark;
    font-size: 0.8rem;
    font-weight: $weight-bold;
    > * {
        display: inline-block;
    }
    > .larger {
        color: $primary;
        font: {
            size: 1.1rem;
        }
    }
    > div:not(:last-child) {
        margin-right: 0.2rem;
    }
}

.fra-banner {
    @include tablet {
        border-radius: $radius-large;
        overflow: hidden;
    }
}
