@media screen and (max-width: 1023px) {
  .has-sidepadding-touch {
    padding: 0 1rem;
  }
  .is-clipped-mobile {
    overflow: hidden;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .has-rightmargin-tablet-only {
    margin-right: 0.25rem;
  }
  .has-leftmargin-tablet-only {
    margin-left: 0.25rem;
  }
}

@media screen and (max-width: 768px) {
  .has-topmargin-mobile-only {
    margin-top: 0.5rem;
  }
  .clearpadding-mobile-only {
    padding-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .has-topmargin-desktop-only {
    margin-top: 0.5rem;
  }
}

.has-sidepadding {
  padding-left: 1rem;
  padding-right: 1 rem;
}

.has-sidepadding-small {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.has-bottompadding {
  padding-bottom: 1rem;
}

.has-bottompadding-small {
  padding-bottom: 0.2rem;
}

.has-toppadding {
  padding-top: 1rem;
}

.has-toppadding-small {
  padding-top: 0.2rem;
}

.has-toppadding-big {
  padding-top: 3.5rem;
}

.is-position-0 {
  top: 0;
  left: 0;
}

.is-absolute {
  position: absolute;
}

.is-cover > img {
  object-fit: cover;
}

.is-blur > img {
  filter: blur(8px);
}

.is-transparent {
  opacity: 50%;
}

.has-w100 {
  width: 100%;
}

.has-topborder {
  border-top: 1px solid hsl(0, 0%, 86%);
}

.has-bottomborder {
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

#hero-clipped {
  -webkit-clip-path: ellipse(46% 47% at 17% 100%);
  clip-path: ellipse(46% 47% at 17% 100%);  
}
