.fra-button {
  padding: 0 0.75rem;
  flex-wrap: wrap;
  display: flex;
  > .button {
    font-weight: $weight-bold;
    width: 100%;
    margin-bottom: 0.75rem;
  }
  @include tablet-only {
    padding: 0;
    > .button {
      width: auto;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }
}

.order-2-tablet-only {
  @include tablet-only {
    order: 2;
  }
}

.cta-button {
  padding: 0 0.75rem;
  > .button {
    font-weight: $weight-bold;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
  @include tablet {
    display: inline-block;
    width: 100%;
    padding: 0;
    > .button {
      width: 10rem;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.5rem;
      }
    }
  }
}
