---
layout: layouts/base.njk
permalink: /fundraises/index.html
---

{% import "components/macros/FundraisesList.njk" as FundraisesList %}
<div class="container container-mobile container-tablet-only">
    <h1 class="title">{{ title }}</h1>
    {{ content | safe }}
    {{ FundraisesList.fundraisesList(collections.fundraises) }}
</div>