<div class="container">
    <div class="is-clipped-touch">
        <div class="columns is-hidden-touch">
            <div class="column is-8">
                <div style="padding-top: 3rem">
                    <h1 class="title is-size-3 has-text-weight-bold">{{ title }}</h1>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <article class="padding-top-1-tablet-only" style="padding-bottom: 3rem">
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            {% include "components/fundraise/Header.njk" %}
                        </div>
                        <div class="column is-full is-10-desktop is-offset-2-desktop">
                            {% include "components/fundraise/Content.njk" %}
                        </div>
                    </div>
                </article>
            </div>
            <aside class="column is-4 is-hidden-touch">
                <div class="box" style="position: -webkit-sticky; position: sticky; top: 4rem;">
                    {% include "components/fundraise/Aside.njk" %}
                </div>
            </aside>
        </div>
    </div>
</div>