---
layout: layouts/base.njk
permalink: /fundraises/index.html
---

{% import "components/macros/FundraisesGrid.njk" as FundraisesGrid %}
<header>
    {% include "components/HeroHeader.njk" %}
</header>
<main>
    <section class="section">
        <div class="container container-mobile container-tablet-only">
            {{ FundraisesGrid.fundraisesGrid(collections.fundraises) }}
        </div>
    </section>
</main>