---
layout: layouts/base.njk
pagination:
  data: pagesData
  size: 1
  alias: pageData
pagesData: 
  - post
  - funding
permalink: fundraises/{{ title | slug }}/{{ pageData }}/
---
{% import "components/macros/Progress.njk" as Progress %}
{% import "components/macros/Banner.njk" as Banner %}
{% import "components/macros/CardFra.njk" as CardFra %}

<header>
  {% include "components/Nav.njk" %}
</header>
<main>
  {% if pageData == "post" %}
    {% include "layouts/fundraise_1.njk" %}
  {% else %}
    {% include "layouts/fundraise_2.njk" %}
  {% endif %}
</main>