---
layout: layouts/base.njk
---

{% import "components/macros/Banner.njk" as Banner %}
{% import "components/macros/CardFra.njk" as CardFra %}
{% import "components/macros/PostsList.njk" as PostsList %}

<header>
    <section class="hero is-medium is-light is-bold">
        {% include "components/Nav.njk" %}
        <div class="hero-body has-text-centered">
            <div class="container container-tablet-only container-mobile">
                <h1 class="title has-text-weight-black">{{ cta.title }}</h1>
                <h2 class="subtitle">{{ content | safe }}</h2>
                <div class="cta-button has-text-centered">
                    <a href="{{ cta.button.first.link }}" class="button is-primary">{{ cta.button.first.title }}</a>
                    {% if cta.button.second.title %}
                        <a href="{{ cta.button.second.link }}" class="button is-outlined is-primary">{{ cta.button.second.title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <section class="section">
        <div class="container container-tablet-only container-mobile">
            <h2 class="title is-size-5 has-text-weight-black has-text-centered is-uppercase">Donasi Program Ramadhan</h2>
            {% include "components/home/FundraisesCarousel.njk" %}
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container container-tablet-only container-mobile">
            <h2 class="title is-size-5 has-text-weight-black has-text-centered is-uppercase">Info Terbaru</h2>
            <div class="padding-y-1">
                {{ PostsList.postsList(collections.posts, metadata) }}
            </div>
        </div>
    </section>
</main>