---
layout: layouts/base.njk
---
<header>
    {% include "components/HeroHeader.njk" %}
</header>
<main>
    <section class="section">
        <div class="container container-tablet-only container-mobile">
            <article class="content">
                {{ content | safe }}
            </article>
        </div>
    </section>
</main>