---
layout: layouts/base.njk
---
<div class="container-desktop container-tablet-only padding-sides-touch">
    <article class="content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </article>
</div>