---
layout: layouts/base.njk
permalink: info/{{ title | slug }}/
---
<header>
  {% include "components/Nav.njk" %}
</header>
<main>
  <section class="section">
    <div class="container container-tablet-only container-mobile is-clipped-touch">
      <div class="columns">
        <div class="column is-offset-2-desktop is-8-desktop">
          <header style="margin: 2.5rem 0 3rem 0">
            <p class="has-text-grey">
          Oleh {{ metadata.author.name }} -<time datetime="{{ date | machineDate }}">
                {{ date | readableDate }}</time>
            </p>
            <h1 class="title is-size-1-desktop">{{ title }}</h1>
          </header>
          <article class="padding-sides-touch" >
            <div class="content">
              {{ content | safe }}
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>