{% set targetDesc %}
{% if fra.hasTarget %}
     dari {{ fra.target | rupiah }}
{% else %}
{% endif %}
{% endset %}

<div class="fra-aside">
  <div class="larger">
    {{ fra.raised | rupiah }}
  </div>
  <div>terkumpul {{ targetDesc }}</div>
</div>
<div style="margin-bottom:0.5rem">
  {{ Progress.progress(fra.hasTarget, fra.target, fra.raised) }}
</div>
{% if limitDate.hasLimit %}
  <div style="margin-bottom:1rem;text-align:right;">
    <span class="diffDays fra-aside">{{ limitDate.date | machineDate }}</span>
  </div>
{% endif %}
<div class="fra-button" style="margin-top:1rem;">
  <a class="button is-primary" href="{{ pagination.href.next }}">Donasi Sekarang</a>
  <a class="button is-success is-light"
    href="https://api.whatsapp.com/send?text={{ excerpt }} {{ metadata.url }}{{ page.url }}"
    data-action="share/whatsapp/share">
    <span class="icon is-small">
      <i class="mdi mdi-whatsapp"></i>
    </span>
    <span>Bagikan</span>
  </a>
</div>