<div class="field">
    <label class="label">Jumlah Donasi</label>
    <div class="field has-addons">
        <p class="control is-primary">
            <span class="select">
                <select v-model="currency">
                    <option>Rp</option>
                    <option>USD</option>
                </select>
            </span>
        </p>
        <p class="control is-expanded is-primary">
            <input class="input has-text-weight-bold" type="number" v-model="amount" v-if="toggle" @blur="onBlurNumber" placeholder="Jumlah Donasi" lazy number required="required">
            <input class="input has-text-weight-bold" type="text" v-model="amountFormatted" v-if="!toggle" @focus="onFocusText" placeholder="Jumlah Donasi" required="required">
        </p>
    </div>
</div>
<hr>
<div class="field">
    <label class="label">Metode Pembayaran</label>
    <div class="field">
        <p class="control">
            <div class="select is-fullwidth">
                <select v-model="paymentMethod" required="required">
                    <option>Bank Mandiri</option>
                    <option>Bank BNI Syariah</option>
                    <option>PayPal</option>
                </select>
            </div>
        </p>
    </div>
</div>
<hr>
<div class="field">
    <label class="label has-text-left">Donatur</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-right">
                <input autocomplete="name" class="input" type="text" placeholder="Nama" required="required">
                <span class="icon is-small is-right">
                    <i class="mdi mdi-account"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-right">
                <input class="input" type="tel" autocomplete="tel" placeholder="Nomor Whatsapp" required="required">
                <span class="icon is-small is-right">
                    <i class="mdi mdi-whatsapp"></i>
                </span>
            </p>
        </div>
    </div>
</div>