<form>
    <div class="is-clipped-touch">
        <div class="columns is-multiline">
            <div class="column is-full is-6-desktop is-offset-3-desktop" style="padding:1rem;">
                <div class="box">
                    {% include "components/fundraise/Form.njk" %}
                    <br>
                    <div class="fra-button has-text-right">
                        <button class="button is-primary has-text-weight-bold order-2-tablet-only" v-on:click.prevent="nextStep">
                            <span>Lanjut</span>
                            <span class="icon is-medium">
                                <i class="mdi mdi-24px mdi-chevron-right"></i>
                            </span>
                        </button>
                        <a href="{{ pagination.href.previous }}" class="button is-danger is-light has-text-weight-bold">Batal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>