<section>
    <div class="container-funding-app is-clipped-touch">
        <div class="columns is-multiline">
            <div class="column is-full is-6-desktop is-offset-3-desktop" style="padding:1rem;">
                <div class="box has-text-centered">
                    <h1 class="title is-size-4 has-text-weight-bold">Instruksi Pembayaran</h1>
                    <p>Transfer sesuai nominal di bawah ini</p>
                    <div class="has-text-weight-bold is-size-4" style="margin: 0.5em 0;">
                        {{ '{{ "Rp " + amountFormatted }}' }}
                    </div>
                    <p>
                        <span>ke rekening</span>
                        <span class="has-text-weight-bold">
                            {{ '{{ paymentMethod }}' }} a.n. Yajmaa
                        </span>
                    </p>
                    <div style="font-weight: 700;margin: 0.5rem;padding: 0.5rem 1rem;background-color: #eeeeee;display: flex; height: 3.2em; align-items: center;">
                        <div style="flex-grow: 1">89039998208202</div>
                        <div>
                            <a>SALIN</a>
                        </div>
                    </div>
                    <hr>
                    <p class='has-text-weight-bold' style="margin-bottom:1rem;">Saya sudah membayar,</p>
                    <div class="fra-button">
                        <button class="button is-primary order-2-tablet-only" v-on:click.prevent="nextStep">
                            <span>Konfirmasi Pembayaran</span>
                        </button>
                        {# <button v-on:click.prevent="previousStep" class="button is-primary is-light">Kembali</button> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>