<header class="container-tablet-only">
    <div class="fra-banner">
        {{ Banner.banner(banner.image, banner.style, title) }}
    </div>
    <div class="container-mobile is-hidden-desktop">
        <h1 class="title is-size-4" style="margin:1rem 0">{{ title }}</h1>
        {% include "components/fundraise/Aside.njk" %}
    </div>
</header>