<h1 class="title is-size-3-desktop is-size-4 has-text-weight-bold" style="margin: 3.5rem 0 1rem 0;">Instruksi Pembayaran</h1>
<p>Transfer sesuai nominal di bawah ini</p>
<div class="has-text-weight-bold is-size-4" style="margin: 0.5em 0; text-align: center;">
    {% raw %}{{ "Rp " + amountFormatted }}{% endraw %}
</div>
<p>
    ke rekening <span class="has-text-weight-bold">{% raw %}{{ paymentMethod }}{% endraw %}</span>
</p>
<div style="font-weight: 700;margin: 0.5rem;padding: 0.5rem 1rem;background-color: #eeeeee;display: flex; height: 3.2em; align-items: center;">
    <div style="flex-grow: 1">89039998208202</div>
    <div><a>SALIN</a></div>
</div>

<div class="field">
    <div class="control">
        <div class="buttons is-right">
            <button v-on:click.prevent="previousStep" class="button is-primary is-light has-text-weight-bold">Kembali</button>
            <button class="button is-primary has-text-weight-bold" v-on:click.prevent="nextStep">
                <span>Lanjut</span>
                <span class="icon is-medium">
                    <i class="mdi mdi-24px mdi-chevron-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>