{% if tags %}
    <div class="tags">
        {% for tag in tags %}
            {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <span class="tag">
                    <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                </span>
            {%- endif -%}
        {% endfor %}
    </div>
{% endif %}