// Helper

.has-text-weight-black {
    font-weight: $weight-black !important;
}

.is-clipped-touch {
    @include touch {
        overflow-x: hidden;
    }
}

.padding-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-top-1-tablet-only {
    @include tablet-only {
        padding-top: 1rem;
    }
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

// Animations

@keyframes shadow-drop {
    0% {
        box-shadow: $solid-shadow;
    }
    100% {
        box-shadow: $solid-shadow, $blur-shadow;
    }
}

%shadow-drop {
    animation: shadow-drop 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}