<header>
    <div class="padding-sides-tablet-only">
        <div class="fra-banner container-tablet-only">
            {{ Banner.banner(banner.image, banner.style, title) }}
        </div>
    </div>
    <div class="container-tablet-only padding-sides-touch is-hidden-desktop">
        <div style="margin: 0.75rem 0 0.5rem 0">
            <h1 class="title is-size-5">{{ title }}</h1>
        </div>
        {% include "components/fundraise/Aside.njk" %}
    </div>
</header>