{% import "components/macros/Banner.njk" as Banner %}

<header>
    <div class="fra-banner">
        {{ Banner.banner(banner.image, banner.style, title) }}
    </div>
    <div class="container-tablet-only padding-sides-touch is-hidden-desktop">
        {% include "components/fundraise/Title.njk" %}
        {% include "components/fundraise/Aside.njk" %}
    </div>
    {% include "components/fundraise/Info.njk" %}
</header>