{% import "components/macros/CardInfo.njk" as CardInfo %}

<div class="container-tablet-only padding-sides-touch">
    <hr>
    <h2 class="has-text-weight-semibold">Informasi Penggalangan Dana</h1>
</div>

<div class="cards-carousel container-tablet-only">
    <div class="wrapper-1">
        <div class="wrapper-2">
            <div class="wrapper-card">
                {{ CardInfo.cardInfo("Penggalang Dana", false, author or metadata.author.name,"#","whatsapp") }}
            </div>
            <div class="wrapper-card">
                {{ CardInfo.cardInfo("Penerima Manfaat", false, "Ma'had Umar bin Khattab Yogyakarta", "https://facebook.com", "facebook") }}
            </div>
        </div>
    </div>
</div>

<div class="container-tablet-only"><hr></div>