<div class="container-desktop container-tablet-only padding-sides-touch">
    <div class="is-clipped-touch" style="padding: 0 0 1.5rem 0">
        <div class="columns">
            <div class="column is-offset-2-desktop is-8-desktop">
                <h1 class="title is-size-3-desktop is-size-4 has-text-weight-bold" style="margin: 3.5rem 0 1rem 0;">{{ title }}</h1>
                {% include "components/fundraise/FundingForm.njk" %}
            </div>
        </div>
    </div>
</div>
