<footer class="footer">
    <div class="content has-text-centered">
        This project is maintained by Ivan Zulfikar.
        Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
    </div>
</footer>