<footer>
  <small>
    This project is maintained by <a href="">Ivan Zulfikar</a>.
    {# i still wonder where this pkg.repository.url is documented #}
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
