{% set targetdesc %}
{% if fr_target and fr_target != "undefined" %}
     dari {{ fr_target }}
{% else %}
{% endif %}
{% endset %}

<div class="has-bottompadding-small is-size-7" style="display: flex; flex-wrap: wrap; align-items: baseline;">
    <span class="is-size-5 has-text-weight-bold has-text-primary" style="display: block; margin-right: 0.2rem;">
        {{ fr_raised }}
    </span>
    <span style="display: block;">terkumpul {{ targetdesc }}</span>
</div>

{% import "components/progress.njk" as progress %}
{{ progress.progressbar(fr_target, fr_progress) }}