<template>
  <div class="buttons">
    <b-button type="is-primary" @click="" class="">
      Donasi Sekarang
    </b-button>
    <b-button type="is-light" @click="" icon-right="share" class="">
      Bagikan
    </b-button>
  </div>
</template>