<template>
  <div class="is-flex-tablet-only">
    <b-button
      type="is-info"
      @click=""
      expanded
      style=""
      class="has-rightmargin-tablet-only has-text-weight-bold">
      Donasi Sekarang
    </b-button>
    <b-button
      type="is-light"
      @click=""
      expanded
      icon-right="share"
      style="" 
      class="has-leftmargin-tablet-only has-topmargin-mobile-only has-topmargin-desktop-only">
      Bagikan
    </b-button>
  </div>
</template>