<template>
    <div class="is-flex-tablet-only">
        <b-button
            type="is-info"
            @click=""
            expanded
            style=""
            class="has-rightmargin-tablet-only has-text-weight-bold">
                Donasi Sekarang
        </b-button>
        <b-button
            type=""
            @click=""
            expanded
            outlined
            icon-right="share"
            style="" 
            class="has-leftmargin-tablet-only has-topmargin-mobile-only has-topmargin-desktop-only has-text-weight-bold">
               Bagikan
        </b-button>
    </div>
</template>