<div class="container-touch">
    <p class="is-size-6 has-text-grey has-text-right ">
        <time datetime="{{ date | machineDate }}">
            {{ date | readableDate }}
        </time>
    </p>
    <div class="content ">
        {{ content | safe }}
    </div>
</div>