{% import "components/_Hero.njk" as Hero %}
<header>
    {{ Hero.hero(banner.image, banner.style, title) }}
    <div class="container-touch is-hidden-desktop">
        <h1 class="fr-title-touch">{{ title }}</h1>
        {% include "components/FraAside.njk" %}
    </div>
</header>