{% import "components/_CardInfo.njk" as CardInfo %}

<div class="container-touch">
    <hr>
    <h2 class="has-text-weight-bold">Informasi Penggalangan Dana</h1>
</div>
<div class="cards-overflow">
    {% for i in[1, 2, 3, 4] %}
        <div class="wrapper">
            {{ CardInfo.cardInfo("Penggalang Dana", 0, metadata.author.name, "aaa") }}
        </div>
    {% endfor %}
</div>
<div class="container-touch"><hr></div>