<section class="section">
	{# get fundraise from parent layout #}
	{% for fundraise in fundraiseslist | reverse %}
		<article class="card">
			{# this parts refer to https://www.11ty.dev/docs/collections/ #}
			<h3 class="is-size-4">
				<a href="{{ fundraise.url | url }}">
						{{ fundraise.data.title }}
				</a>
			</h3>
			{% if fundraise.data.summary %}
				<p class="is-size-5">
					{{ fundraise.data.summary }}
				</p>
			{% endif %}
			<p class="is-size-6">
				<time datetime="{{ fundraise.date | machineDate }}">
					{{ fundraise.date | readableDate }} by {{ metadata.author.name }}
				</time>
			</p>
			{% if fundraise.data.tags %}
				<div class="tags">
					{% for tag in fundraise.data.tags %}
						{%- if tag != "fundraise" -%}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<span class="tag">
								<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
							</span>
						{%- endif -%}
					{% endfor %}
				</div>
			{% endif %}
			{% set targetdesc %}
				{% if fundraise.data.fra.target and fundraise.data.fra.target != "undefined" %}
    				dari {{ fundraise.data.fra.target }}
				{% else %}{% endif %}
			{% endset %}
			<div class="has-bottompadding-small is-size-7" style="display: flex; flex-wrap: wrap; align-items: baseline;">
				<span class="is-size-5 has-text-weight-bold has-text-primary" style="display: block; margin-right: 0.2rem;">
					{{ fundraise.data.fra.raised }}
				</span>
				<span style="display: block;">terkumpul {{ targetdesc }}</span>
			</div>
			{% import "components/_progress.njk" as progress %}
			{{ progress.progress(fundraise.data.fra.hasTarget, fundraise.data.fra.target, fundraise.data.raised) }}
		</article>
	{% endfor %}
</section>