{% macro heroimage(image, style, alt, title) %}

  {% set safehero_image = image or "not available" %}

  {% if style and style == "cover" %}
    {% set safehero_style = "cover" %}
  {% else %}
    {% set safehero_style = "contain" %}
  {% endif %}

  {% set safehero_alt = alt or "not available" %}

  <div class="hero is-medium is-relative is-position-0">
    <div class="image is-16by9 is-cover">
      <img src="{{ safehero_image | url }}"/>
    </div>
    <div class="image is-16by9 is-absolute is-position-0 is-clipped is-cover is-blur has-w100">
      <img src='{{ safehero_image | url }}'/>
    </div>
    <figure class="image is-16by9 is-absolute is-position-0 has-w100">
      <img src='{{ safehero_image | url }}' alt="{{ safehero_alt }}" style="object-fit: {{ safehero_style }};"/>
    </figure>
    {% if title %}
      <div class="image is-16by9 is-absolute is-position-0 has-w100 has-background-primary is-transparent" id="hero-clipped"></div>
    {% endif %}
  </div>

{% endmacro %}