<section>
	{# get post from parent layout #}
	{% for post in postslist | reverse %}
		{# I deleted
		{% if post.url == url %} data-current="current item"{% endif %}
		inside the article tag here as it is not used in CSS #}
		<article>
			{# this parts refer to https://www.11ty.dev/docs/collections/ #}
			<h3 class="title is-3">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p class="is-size-5">
					{{ post.data.summary }}
				</p>
			{% endif %}
			<p class="is-size-6">
				<time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }} by {{ post.data.author or metadata.author.name }}
				</time>
			</p>
			{% if post.data.tags %}
				<div class="tags">
					{% for tag in post.data.tags %}
						{%- if tag != "post" -%}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<span class="tag">
								<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
							</span>
						{%- endif -%}
					{% endfor %}
				</div>
			{% endif %}
		</article>
	{% endfor %}
</section>