{% macro progressbar(target, progress) %}

    {% set safeprogress = progress or "100%" %}
    {% set safetarget = target or "undefined" %}

    {% if safetarget == "undefined" %}
        {% set class = "is-info " %}
        {% set value %}value=100{% endset %}
    {% else %}
        {% set class = "is-primary" %}
        {% set value %}value={{ safeprogress }}{% endset %}
    {% endif %}

    <progress class="progress {{ class }}" {{ value }} max="100" style="margin-bottom: 1rem; height: 0.4rem">
        {{ safeprogress }}%
    </progress>

{% endmacro %}