.fra-banner {
  @include tablet {
    box-shadow: $card-shadow;
    border-radius: $radius-large;
    overflow: hidden;
  }
}

.fra-title {
  @include desktop {
    font-size: $size-3;
    font-weight: $weight-semibold;
    line-height: 1.25em;
    margin-top: 1.5rem;
  }
  @include touch {
    font-size: $size-4;
    font-weight: $weight-semibold;
    line-height: 1.2em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
