.banner {
  position: relative;
  top: 0;
  left: 0;
  > .layer {
    &-middle,
    &-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &-bottom > img {
      object-fit: cover;
    }
    &-middle > img {
      object-fit: cover;
      filter: blur(3px);
    }
  }
}