$card-header-padding-info: 0.5rem 0.75rem 0.5rem 0.75rem !default;
$card-content-padding-info: 0.5rem 1.5rem 1rem 1.5rem !default;

.card.-info {
  border-radius: $radius;
  font-size: 0.8em;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-header.-info {
  box-shadow: none;
}

.card-header-title.-info {
  padding: $card-header-padding-info;
}

.card-header-icon.-info {
  padding: $card-header-padding-info;
  > .icon {
    height: 1.3em;
    width: 1.3em;
    font-size: 1.5em;
  }
}

.card-image.-info {
}

.card-content.-info {
  padding: $card-header-padding-info;
}

.card-footer.-info {
}

.card-footer-item.-info {
}
