{% macro cardFra(data, url)%}

  {% import "components/macros/Banner.njk" as Banner %}
  {% import "components/macros/Progress.njk" as Progress %}

  <div class="card -fra">
    <div class="card-image -fra">
      {{ Banner.banner(data.banner.image, data.banner.style, data.title ) }}
    </div>
    <div class="card-content -fra">
      <h3 class="title">
        <a href="{{ url }}" class="stretched-link">{{ data.title }}</a>
      </h3>
      {{ Progress.progress(data.fra.hasTarget, data.fra.target, data.fra.raised) }}
      <p class="raised">Terkumpul <br>{{ data.fra.raised | rupiah }}</p>
    </div>
  </div>

{% endmacro %}}