{% macro cardInfo(cardTitle, avatar, name, link=false, linkType="whatsapp") %}

    {% if link %}
        {% set aTagOpen %}<a href="{{ link | url }}">{% endset %}
        {% set aTagClose %}</a>{% endset %}

        {% set icon %}
        <div class="card-header-icon">
            <span class="icon">
                <i class="mdi mdi-{{ linkType }}"></i>
            </span>
        </div>
        {% endset %}
    {% else %}
    {% set aTagOpen, aTagClose, icon = "" %}
    {% endif %}

    {{ aTagOpen | safe }}
    <div class="card card-info">
        <header class="card-header">
            <p class="card-header-title">{{ cardTitle }}</p>
            {{ icon | safe }}
         </header>
        <div class="card-content">
            <div class="media">
                <figure class="media-left image is-32x32">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="{{ name }}" class="is-rounded">
                </figure>
                <div class="media-content">
                    <p style="">{{ name }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ aTagClose | safe}}

{% endmacro %}