<template>
    <b-carousel>
        <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
            <section :class="`hero is-medium is-${carousel.color}`">
                <div class="hero-body has-text-centered">
                    <h1 class="title">{% raw %}{{carousel.text}}{% endraw %}</h1>
                </div>
            </section>
        </b-carousel-item>           
    </b-carousel>
</template>