.banner {
  position: relative;
  top: 0;
  left: 0;
  > .layer {
    &.-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.-middle {
      @extend .-top;
      > img {
        object-fit: cover;
        filter: blur(3px);
      }
    }
    &.-bottom > img {
      object-fit: cover;
    }
  }
}
