{% macro banner(image, style, alt) %}

  {% set image_safe = image or "" %}
  {% if style and style == "cover" %}
    {% set style_safe = "cover" %}
  {% else %}
    {% set style_safe = "contain" %}
  {% endif %}

  <div class="banner">
    <div class="layer -blank image is-16by9">
      <img src="{{ image_safe | url }}"  alt="{{ alt }}" class="lazy"/>
    </div>
    <div class="layer -blur image is-16by9 is-clipped">
      <img src="{{ image_safe | url }}"  alt="{{ alt }}" class="lazy"/>
    </div>
    <figure class="layer -top image is-16by9 ">
      <img src="{{ image_safe | url }}" alt="{{ alt }}" class="lazy" style="object-fit: {{ style_safe }}"/>
    </figure>
  </div>

{% endmacro %}