{% macro cardPost(post, metadata) %}

    {% import "components/macros/Tags.njk" as Tags %}
    
    <div class="card -post">
        <div class="card-content -post">
            <div style="" class="post-separator"></div>
            <a href="{{ post.url | url }}" class="stretched-link">
                <h3 class="title is-size-5" style="margin-bottom: 1rem;">
                    {{ post.data.title or "Tanpa Judul" }}
                </h3>
            </a>
            <p style="margin-bottom: 1rem;">{{ post.data.summary or "" }}</p>
            <div class="is-size-7">
                <p>
                Oleh {{ post.data.author or metadata.author.name }} • <time datetime="{{ post.date | machineDate }}">
                        {{ post.date | readableDate }}
                    </time>
                </p>
            </div>
            {# <div class="tags">{{ Tags.tags(post.data.tags) }}</div> #}
        </div>
    </div>
{% endmacro %}