{% macro tags(tags) %}

    {% if tags %}
        <div class="tags">
            {% for tag in tags %}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a class="tag is-light" href="{{ tagUrl | url }}" rel="tag" style="z-index:1;">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}

{% endmacro %}