// Button
// $button-border-width: $control-border-width;
// $button-padding-vertical: calc(1.5em - #{$button-border-width});
$button-padding-horizontal: 1.1em;

// Bulma
@import "node_modules/bulma/sass/elements/_all";

// Extend container responsiveness
.container {
    &-tablet-only {
        @include tablet-only {
            max-width: 800px;
            margin: 0 auto;
            padding: {
                left: 2rem;
                right: 2rem;
            }
        }
    }
    &-mobile {
        @include mobile {
            padding: {
                left: 1rem;
                right: 1rem;
            }
        }
    }
    &-funding-app {
        @include tablet-only {
            max-width: 420px;
            margin: auto;
        }
    }
}
