// Colors
$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 67%);
$green:        hsl(140, 56%, 41%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       hsl(243, 71%, 39%);
$red:          hsl(348, 100%, 61%);

$primary: $purple;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

// Typography
$family-sans-serif: "Nunito Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-black: 800;

// Spacing
$block-spacing: 2rem;
$hr-margin: 1rem 0;

// Responsiveness
$gap: 32px;
$tablet: 500px;
$desktop: 960px + (2 * $gap);
$widescreen: 1050px + (2 * $gap);
$widescreen-enabled: true;
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: false;

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// Link colors
$link: $primary;
$link-visited: $primary;

$link-hover: $blue;
$link-hover-border: $grey-light;

$link-focus: $blue;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;

@import "node_modules/bulma/sass/utilities/derived-variables";