@charset "utf-8";

@import "_variables";
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";
@import "node_modules/bulma/sass/utilities/derived-variables";
@import "node_modules/bulma/sass/utilities/animations";
@import "node_modules/bulma/sass/utilities/mixins";

$control-height: 3.2em;
$control-line-height: 1.5;
$control-border-width: 1px;
// $control-padding-vertical: calc(0.375em - #{$control-border-width});
// $control-padding-horizontal: calc(0.625em - #{$control-border-width});
@import "node_modules/bulma/sass/utilities/controls";
@import "node_modules/bulma/sass/base/_all";

// Component variables
@import "_component-variables";

@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";

// Components
@import "node_modules/bulma/sass/components/card";
@import "node_modules/bulma/sass/components/dropdown";
@import "node_modules/bulma/sass/components/navbar";
// @import "node_modules/bulma/sass/components/tabs";

// Unused Components
// @import "node_modules/bulma/sass/components/breadcrumb";
// @import "node_modules/bulma/sass/components/level";
// @import "node_modules/bulma/sass/components/list";
// @import "node_modules/bulma/sass/components/media";
// @import "node_modules/bulma/sass/components/menu";
// @import "node_modules/bulma/sass/components/message";
// @import "node_modules/bulma/sass/components/modal";
// @import "node_modules/bulma/sass/components/pagination";
// @import "node_modules/bulma/sass/components/panel";

@import "node_modules/bulma/sass/grid/columns";
@import "node_modules/bulma/sass/layout/_all";

@import "node_modules/buefy/src/scss/utils/_all";

// Buefy
// @import "node_modules/buefy/src/scss/components/_autocomplete";
// @import "node_modules/buefy/src/scss/components/_carousel";
// @import "node_modules/buefy/src/scss/components/_checkbox";
// @import "node_modules/buefy/src/scss/components/_clockpicker";
// @import "node_modules/buefy/src/scss/components/_collapse";
// @import "node_modules/buefy/src/scss/components/_datepicker";
// @import "node_modules/buefy/src/scss/components/_dialog";
// @import "node_modules/buefy/src/scss/components/_dropdown";
// @import "node_modules/buefy/src/scss/components/_form";
// @import "node_modules/buefy/src/scss/components/_icon";
// @import "node_modules/buefy/src/scss/components/_loading";
// @import "node_modules/buefy/src/scss/components/_menu";
// @import "node_modules/buefy/src/scss/components/_message";
// @import "node_modules/buefy/src/scss/components/_modal";
// @import "node_modules/buefy/src/scss/components/_notices";
// @import "node_modules/buefy/src/scss/components/_numberinput";
// @import "node_modules/buefy/src/scss/components/_pagination";
// @import "node_modules/buefy/src/scss/components/_progress";
// @import "node_modules/buefy/src/scss/components/_radio";
// @import "node_modules/buefy/src/scss/components/_rate";
// @import "node_modules/buefy/src/scss/components/_select";
// @import "node_modules/buefy/src/scss/components/_slider";
// @import "node_modules/buefy/src/scss/components/_steps";
// @import "node_modules/buefy/src/scss/components/_switch";
// @import "node_modules/buefy/src/scss/components/_table";
// @import "node_modules/buefy/src/scss/components/_tabs";
// @import "node_modules/buefy/src/scss/components/_tag";
// @import "node_modules/buefy/src/scss/components/_taginput";
// @import "node_modules/buefy/src/scss/components/_timepicker";
// @import "node_modules/buefy/src/scss/components/_tooltip";
// @import "node_modules/buefy/src/scss/components/_upload";

// Custom utility
@import "_extra-utils";

#fundingForm .field-label {
    @include tablet-only {
        flex-grow: 2;
    }
    text-align: left;
}

// Custom components
@import "components/_all";
