<!doctype html>
{# delete {% if section %} data-current="{{ section }}"{% endif %} #}
<html lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ content | safe }}
		</main>
		{% include "components/footer.njk" %}
		{# add Vue and Buefy temporarily https://buefy.org/documentation/start #}
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
		{% set app %}
		{% include "assets/js/app.js" %}
		{% endset %}
		<script>
			{{ app | jsmin | safe }}
		</script>
	</body>

</html>