---
layout: layouts/base.njk
featured_image: /static/img/pm3.png
featured_image_style: contain
---

<section class="is-clipped-touch">
  <div class="columns">
    <div class="column">
      <header class="fr-header" >
        <div>
          {% import "components/hero.njk" as hero %}
          {{ hero.hero(featured_image, featured_image_style, title) }}
        </div>
        <div class="fr-title first container-touch">
          <h1>{{ title }}</h1>
        </div>
        <div class="is-hidden-desktop container-touch">
          {% include "components/FraAside.njk" %}
          <div id="fr-button-1">
            {% include "components/fr-button.njk" %}
          </div>
        </div>
      </header>

      <article class="container-touch">
        <hr>
        <div class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>John Smith</strong>
                <small>@johnsmith</small>
                <small>31m</small>
                <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
            </div>
          </div>
        </div>
        <hr>
        <p class="is-size-6 has-text-grey has-text-right ">
          <time datetime="{{ date | machineDate }}">
            {{ date | readableDate }}
          </time>
        </p>
        <div class="content ">
          {{ content | safe }}
        </div>
      </article>
    </div>

    <aside class="column is-4 is-hidden-touch">
      <div class="box" style="position: -webkit-sticky; position: sticky; top: 4rem;">
        {% include "components/FraAside.njk" %}
        <div id="fr-button-2">
          {% include "components/fr-button.njk" %}
        </div>
      </div>
    </aside>
  </div>
</section>