---
layout: layouts/base.njk
featured_image: /static/img/pm3.png
featured_image_style: contain
---
<div class="container-desktop">
  <div class="is-clipped-touch" style="margin: 0 0 1.5rem 0">
    <div class="columns is-hidden-touch">
      <div class="column is-7 is-offset-1">
        <div style="margin: 1.5rem 0 0 0">
          <h1 class="title is-size-3">{{ title }}</h1>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1-desktop">
        <article class="has-margin-top-1-tablet-only">
          {% include "components/fundraise/Header.njk" %}
          {% include "components/fundraise/Content.njk" %}
        </article>
      </div>
      <aside class="column is-4 is-hidden-touch">
        <div class="box" style="position: -webkit-sticky; position: sticky; top: 4rem;">
          {% include "components/fundraise/Aside.njk" %}
        </div>
      </aside>
    </div>
  </div>
</div>