---
layout: layouts/base.njk
---
{% import "components/macros/Banner.njk" as Banner %}
{% import "components/macros/CardFra.njk" as CardFra %}
{% import "components/macros/PostsList.njk" as PostsList %}
{# {% impert cardInfo(cardTitle, avatar, name, link=false, linkType="whatsapp") %} #}

<div class="is-clipped-touch has-background-white-bis">
    <div class="container-desktop container-tablet-only padding-sides-touch" style="padding-top: 6rem;padding-bottom:4rem;">
        <div class="columns">
            <div class="column is-9-desktop">
                {% include "components/home/Cta.njk" %}
            </div>
        </div>
    </div>
</div>
<div class="container-desktop container-tablet-only" style="padding-top: 1.5rem">
    <div class="padding-sides-touch">
        <h2 class="title is-size-4">Donasi Program Ramadhan</h2>
    </div>
    {% include "components/home/FundraisesList.njk" %}
    <div class="padding-sides-touch">
        <h2 class="title is-size-4">Info Terkini</h2>
        {{ PostsList.postsList(collections.posts, metadata) }}
    </div>

</div>