---
layout: layouts/base.njk
---
{# apply bulma class content #}
<article>
  <h1 class="title is-3">{{ title }}</h1>
  <p class="is-size-6">
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
  </p>
  <div class="content">
    {{ content | safe }}
  </div>
  {% if tags %}
    <div class="tags">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <span class="tag">
            <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
          </span>
        {%- endif -%}
      {% endfor %}
    </div>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>