<div class="cards-carousel">
    <div class="wrapper-abs">
        <div class="wrapper-flex">
            {% set fundraisesList = collections.fundraises %}
            {% for fundraise in fundraisesList | reverse %}
                <div class="wrapper-card" style="width: 22rem;">
                    {{ CardFra.cardFra(fundraise.data, fundraise.url) }}
                </div>
            {% endfor %}
            <div class="wrapper-card">
                <a href="{{ '/fundraises' }}">
                    <div class="see-all" style="">
                        <span class="icon is-large">
                            <i class="mdi mdi-36px mdi-arrow-right"></i>
                        </span>
                        <p class="has-text-bold has-text-weight-bold">Lihat Semua</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>