<header class="container" style="width: 100%">
    <div id="navbar">
        <template>
            <b-navbar spaced class="is-transparent">
                <template slot="brand">
                    <b-navbar-item href="{{ '/' | url }}">
                        <img src="{{ metadata.brand_logo | url }}" alt="{{ metadata.title }}">
                    </b-navbar-item>
                    <b-navbar-item href="{{ '/' | url }}" style="margin-right: 1em; padding-left: 0;">
                        <h1 style="font-size: 1.25em; font-weight: 900;">{{ metadata.title }}</h1>
                    </b-navbar-item>
                </template>
                <template slot="start">
                    {# copied from https://www.11ty.dev/docs/plugins/navigation/#copy-and-paste-templates #}
                    {% set navPages = collections.all | eleventyNavigation %}
                    {% for navItem in navPages %}
                        <b-navbar-item href="{{ navItem.url | url }}" class="has-text-weight-bold"
                                        {% if navItem.url == page.url %}active{% endif %}>
                            {{ navItem.title }}
                        </b-navbar-item>
                    {% endfor %}
                </template>
            </b-navbar>
        </template>
    </div>
</header>