<section class="section">
    <div class="container container-tablet-only container-mobile">
        <h2 class="title is-size-4 is-marginless">{{ pages.home.posts.title }}</h2>
        <div class="padding-y-1">
            {{ PostsList.postsList(collections.sixPosts, metadata) }}
        </div>
    </div>
</section>