.card.-fra {
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    border: $grey-lighter 1px solid;
    &:hover,
    &:focus,
    &:active {
        @extend %shadow-drop;
    }

    >.card-content.-body {
        flex-grow: 1;
        padding-bottom: 0;
        .title {
            color: $text;
            margin-bottom: 1rem;
            overflow: hidden;
        }
        .excerpt {
            // max-height: 4.2rem;
            margin-bottom: 1.5rem;
            overflow: hidden;
        }
    }
    >.card-content.-progress {
        padding: 0 1.5rem 1.5rem 1.5rem;
        .raised {
            font-weight: $weight-bold;
            display: flex;
            justify-content: space-between;
        }
    }
}
