.card.-fra {
    border-radius: $radius;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card-content.-fra {
    font-size: 0.8em;
    padding: 1rem;
    > .title {
        font-size: 1.25em;
        font-weight: $weight-bold;
        height: 3.5rem;
        overflow: hidden;
    }
    > .raised {
        margin-top: 6px;
        font-size: 1em;
        font-weight: $weight-bold;
        display: flex;
        justify-content: space-between;
    }
}

// .card-image {

// }

// .card-footer {

// }

// .card-footer-item {

// }
// Combinations

// .card .media:not(:last-child) {

// }
