.card.-post {
    border-radius: $radius;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    border: $grey-lighter 1px solid;
    &:hover,
    &:focus,
    &:active {
        @extend %shadow-drop;
    }
}

.card-content.-post {
    > .title {
        color: $text;
        // font-size: 1.25em;
        // font-weight: $weight-bold;
    }
}

.post-separator {
    width: 3rem;
    height: 3px;
    background-color: $primary;
    margin-bottom: 1.2rem;
}
